@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    color:#111111;
}

/*---- DEFAULT ----*/

.container{
    width:100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 15px 0;
}
input{
    outline:none;
}

/*---- AREA HEADER ----*/
header {
    height:110px;
}
header .line--top{
    width: 100%;
    height:10px;
    background-color: #117050;
}
nav{
    display:flex;
    align-items:center;
}
nav .menu--btn{
    width: 35px;
    height: 35px;
    margin-left: 40px;
    cursor:pointer;
}
.logo--image img{
    width: 64px;
    height: 64px;
}
.search--area{
    display:flex;
    align-items:center;
    border: 1px solid #999;
}
.search--area button{
    background-color: transparent;
    cursor: pointer;
}
.search--area input{
    padding: 10px 20px;
}
.search--area input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #999;
}
.search--area img{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

/*---- AREA BANNER1 ----*/

.banner1{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position:center;
    padding: 100px 120px;
}
.banner1 h1{
    font-size: 6rem;
    line-height: 110px;
}
.banner1 .description{
    font-family: 'Open Sans', sans-serif;
    margin-top:40px;
}
.banner1 .images--area{
    margin-top: 50px;
}
.banner1 .images--area img{
    width: 165px;
    height: 165px;
    border-radius:50%;
    border: 6px solid #117050;
    margin-right: 30px;
}


/*---- SECTION AREA2 ----*/

.area2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.content--area{
    grid-area: area1;
}
.bar{
    width:140px;
    height:22px;
    background-color:#006341;
}
.content{
    width:360px;
}
h2{

}
.quote{
    font-family: 'Open Sans', sans-serif;
}
.description{
    font-family: 'Open Sans', sans-serif;
}
.image1--area{
    grid-area: area2;
    background-image: url(../images/f1.jpg);
    background-size: cover;
    background-position: cover;
}
.image2--area{
    grid-area: area3;
    height:350px;
    background-image: url(../images/f2.jpg);
    background-size: cover;
    background-position: cover;
}